body {
  background: black;
}

.app {
  padding: 10px;
}

.color1 {
  background: rgb(22, 27, 34);
}

.color2 {
  background: rgb(14, 68, 41);
}

.color3 {
  background: rgb(0, 109, 50);
}

.color4 {
  background: rgb(38, 166, 65);
}

.color5 {
  background: rgb(57, 211, 83);
}
